

<%- include('partials/_header') -%>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                       

                        <form name="publishpost" method="POST" action="/createaccount">
                            <input type="text" name="username"  id="username" class="form-control" placeholder="Please write username">
                            <br>
                            <input type="text" name="password" id="password" class="form-control" placeholder="Password">
                            <br>
                            <button class="btn btn-light" type="submit" value="POST" id="submit"> Create </button>
                        </form>
                        
                    </div>
                    
                    
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                </div>
            </div>
        </div>

        <%- include('partials/_footer') -%>

        